html
  body
    br
    br
    <center>
    h1= "This is your random chomsky"
    h2= sentence
    </center>
    br
    br
    <center>
    <a href="/">Give me another random sentence</a>
    </center>
