html
  head
    link(rel='stylesheet', href='../css/style.css')
  body
    br
    br
    <center>
    h1= "This is your random chomsky"
    h2= sentence
    </center>
    br
    br
    <center>
    form
      input(type="submit"
        value="Give me another chomsky!!!")
    </center>
