html
  body
    br
    br
    <center>
    h1= "This is your random chomsky"
    h2= sentence
    br
    br
    <a href="/random">Give me another random sentence</a>
    br
    br
    h1= "Your Random Chomsky was successfully generated"
    </center>
